// Website Globals
$defaultFontSize : 16;
$fontName: "";
$innerWidth : 1366px;

// Colors
$red   : red;
$black : #1a1a1a;
$white:  #efefee;

// Media queries : Breaks
$break-sm : 500px;
$break-lg : 720px;
$break-md : 1000px;
