@font-face {
    font-family: '[FONT NAME]';
    src: url('../fonts/[FONT NAME]') format('woff2'),
         url('../fonts/[FONT NAME]') format('woff');
    font-weight: normal;
    font-style: normal;
}